<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Professores</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
   body {
        background-color: rgb(54, 50, 50);
        color: rgba(255, 255, 255, 1);
    }

    .btn-submit {
        background-color: rgba(28, 25, 25, 1);
        border-color: rgba(28, 25, 25, 1);
    }

    .btn-submit:hover {
        background-color: rgba(255, 255, 255, 1);
        color: rgba(28, 25, 25, 1);
    }

</style>
<body>
    <header class="bg-gray-800 py-4">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Logo -->
            <h1 class="text-white text-2xl font-bold">Aplicação pro banco</h1>
            <!-- Link para a página de atualização -->
            <div class="flex flex-col">
                <a href="/listaProfessores.html" class="text-white hover:text-gray-300">Lista professores</a>
                <a href="/index.html" class="text-white hover:text-gray-300">Cadastrar Aluno</a>
            </div>
        </div>
    </header>
  <div class="container mx-auto mt-8 max-w-2xl">
    <div class="max-w-md mx-auto p-6 rounded-md bg-gray-900">
        <form action="/professores/adicionar" method="post" enctype="multipart/form-data >

            <h2 class="text-2xl font-semibold mb-6">Lançamento de professores</h2>
            <div class="mb-4">
                <label class="block mb-1" for="Nome">Nome:</label>
                <input type="text" class="w-full py-2 px-4 rounded-md text-black" name="nome" placeholder="Digite o nome do professor">
            </div>
            <div class="mb-4 ">
                <label class="block mb-1" for="Praca">Praca:</label>
                <div class="flex flex-row  ">
                    <label for="Salvador">
                        <input type="radio" id="salvadorRadio" name="pracaOption" value="Salvador" onchange="setPracaValue(this.value)">
                        Salvador
                    </label>
                    <label for="Fortaleza">
                        <input type="radio" id="fortalezaRadio" name="pracaOption" value="Fortaleza" onchange="setPracaValue(this.value)">
                        Fortaleza
                    </label>
                    <label for="Belo Horizonte">
                        <input type="radio" id="bhRadio" name="pracaOption" value="Belo Horizonte" onchange="setPracaValue(this.value)">
                        Belo Horizonte
                    </label>
                    <label for="Recife">
                        <input type="radio" id="recifeRadio" name="pracaOption" value="Recife" onchange="setPracaValue(this.value)">
                        Recife
                    </label>
                </div>
                <input type="hidden" id="praca" name="praca" value="">

            </div>

            <div class="mb-4 ">
                <label class="block mb-1" for="Area">Area:</label>
                <div class="flex flex-row  ">
                    <label for="TECH">
                        <input type="radio" id="techRadio" name="areaOption" value="TECH" onchange="setAreaValue(this.value)">
                        TECH
                    </label>
                    <label for="CRIAT">
                        <input type="radio" id="criatRadio" name="areaOption" value="CRIAT" onchange="setAreaValue(this.value)">
                        CRIAT
                    </label>
                </div>
                <input type="hidden" id="area" name="area" value="">

            </div>
            
            <div class="mb-4">
                <label class="block mb-1" for="curso">Curso:</label>
                <input type="text" class="w-full py-2 px-4 rounded-md text-black" name="curso" placeholder="Digite o curso do professor">
            </div>
            <div class="mb-4">
                <label class="block mb-1" for="Formacao">Formação:</label>
                <input type="text" class="w-full py-2 px-4 rounded-md text-black" name="formacao" placeholder="Digite a formação do professor">
            </div>

            <div class="mb-4">
                <label class="block mb-1" for="Imagens">Imagem:</label>
                <input type="url" id="upload" class="w-full py-2 px-4 rounded-md text-black" name="img" placeholder="Insira a URL da imagem">
            </div>
            
            
            <div class="mb-4">
                <label class="block mb-1" for="Rede">REDES:</label>
                <div>
                    <label class="block mb-1" for="github">GITHUB:
                       <input type="url" name="github" class="text-black" placeholder="https://example.com"> 
                    </label>
                    <label class="block mb-1" for="instagram">instagram:
                       <input type="url" class="text-black" name="instagram" placeholder="https://example.com"> 
                    </label>
                    <label class="block mb-1" for="linkedin">linkedin:
                       <input type="url" class="text-black" name="linkedin" placeholder="https://example.com"> 
                    </label>

                </div>
            </div>
            
            <button type="submit" class="btn-submit py-2 px-4 rounded-md text-white">Cadastrar</button>
        </form>
    </div>
  </div>

  <script>
 function setAreaValue(value) {
    document.getElementById('area').value = value;
}
function setPracaValue(value) {
    document.getElementById('praca').value = value;
}

</script>

</body>
</html>